{{define "indexPage"}}
<html>
  <head>
    <title>MechLibrary: The Game Mechanic Library</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body style="padding-top:50px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MechLibrary</a>
      </div>
    </nav>
    <div class="container">
      <div class="media row">
        <div class="media-left col-xs-12 col-sm-3">
          <img src='/img/logo.png' class='center-block' width="200px">
        </div>
        <div class="media-right col-xs-12 col-sm-9 text-center" style="padding:8px">
          <h1>Welcome {{.Email}}</h1>
          <p>The game mechanic library is currently under development. Check back next week for exciting new features.</p>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
