{{define "mechanic"}}
<html>
  <head>
    <title>MechLibrary: {{.Title}}</title>
    {{ template "headLibs" }}
  </head>
  <body style="padding-top:70px;background-color:#EFEFEF">
    {{ template  "navbar" }}
    <div class="container">
      <div class="media"  >
        <div class="media-left" >
          <div style="width:200px;height:200px;border-radius:5px;background: url({{.ScreenshotURL}});background-size: 200px 200px;box-shadow: 0 0 8px rgba(0, 0, 0, .8);">
        </div>
        <div class="media-right" style="min-width:300px">
          <div class="votes pull-right">
                Votes:
                <span id="votes-{{.Id}}">{{.Votes}}</span>
                <br/>
                <span id="upvoteLink-{{.Id}}">
                  <a onclick="upvote({{.Id}})" style="cursor:pointer">Up Vote</a>
                </span>
              </div>
          <h3>{{.Title}}</h3>
          <div>{{.Description}}</div>
          Added <em>{{.AddedTime.Format "3:04pm, Mon 2 Jan"}}</em>
          <div>
            {{if .Approved}}
              Approved
            {{else}}
              Pending Approval
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
