{{define "mechanicLatestList"}}
<html>
  <head>
    <title>MechLibrary: Latest Game Mechanics</title>
    {{ template "headLibs" }}
  </head>
  <body style="padding-top:50px">
    {{ template  "navbar" }}
    <div class="container">
      <h2>Latest Game Mechanics</h2>
      {{range .}}
          <a href="/mechanics/id?key={{.Id}}" style="color:inherit;text-decoration:none;">
            <div class="media" style="padding:10px">
              <div class="media-left">
                {{with .ScreenshotURL}}
                  <img src="{{.}}" width="150" height="150">
                {{else}}
                  <img src="/img/default.png" width="200" height="200">
                {{end}}

              </div>
              <div class="media-right">
                <h3>{{.Title}}</h3>
                {{with .AddedBy}}<b>{{.}}</b>{{else}}An anonymous person{{end}}
                at <em>{{.AddedTime.Format "3:04pm, Mon 2 Jan"}}</em>
                submitted <blockquote>{{.Description}}</blockquote>
              </div>
            </div>
          </a>
        {{end}}
    </div>
  </body>
</html>
{{end}}
